<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Calm breeze login screen</title>  
  <link rel="stylesheet" href="static/css/style.css">  
</head>

<body>
    {% block body %}
        <div class="topnav">
			<a class="active" href="/">Home</a>
            <a href="/tournament">Tournaments</a>
			<a href="/create_series">Create Series</a>
			<a href="/create_tournament">Create Tournaments</a>
			<a href="/logout">Logout</a>
        </div>

        {% block subbody %}
        {% endblock subbody %}
    </div>
    {% endblock %}

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="static/js/index.js"></script>
</body>

</html>