{% extends "layout.html" %}
{% block body %}
    <div class="wrapper">
		<div class="container">
			<h1>Welcome</h1>
			
			<form class="form"  method="POST" action="/login">
				<input type="text" name="username" placeholder="Enter username">
				<input type="password" name="password" placeholder="Enter password">
				<button>Login</button> 
				<div>
					<a href="/register" >Register</a>
				</div>
			</form>
			

		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </div>
{% endblock %}