{% extends "layout.html" %}
{% block body %}
    <div class="wrapper">
		<div class="container">
			<h1>Welcome</h1>
			
			<form class="form" method="POST" action='/register'>
				<input type="text" name="username" placeholder="Enter username">
				<input type="email" name="email" placeholder="Enter email">
				<input type="password" name="password" placeholder="Enter password">
				<button>Register</button>
			</form>
		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </div>
{% endblock %}